@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
 --background-color: #E7E8EA;
 --foreground-color: #262B2E;

 --fs-hero-header: clamp(1.88rem, 4vw, 3rem);
}


body {
  background-color: var(--background-color);
  color: var(--foreground-color)
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
